<% if logged_in? %>
  <script type="text/javascript">
    window.currentUser = <%= render(
      "api/members/member.json.jbuilder",
      member: current_member
    ).html_safe %>
  </script>
<% end %>

<main id="root">If you see this, something broke on the page! Sorry :(</main>