.session-page {
  height: 100vh;
  width: 100vw;
  background-image: url("https://diskord-pro.s3.amazonaws.com/diskord_background.jpeg");
  display: flex;
  align-items: center;
}

.form-link {
  color: #7289da;
  font-size: 11px;
  font-family: "Helvetica Neue";
  padding: 5px 0px;
  display: inline;
}

.form-link-container {
  display: inline;
  padding: 5px 0 10px 0;
}

.form-input {
  color: white;
  background-color: rgba(0, 0, 0, 0.1);
  border-color: rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  border-width: 1px;
  height: 32px;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  outline: none;
}

.form-input:focus {
  outline: none;
}

.form-input:hover {
  border-color: #101010;
  cursor: text;
}

.form-input:focus {
  border-color: #7289da;
}

.form-input-label {
  color: #8e9197;
  font-family: "Helvetica Neue";
  font-size: 9px;
  font-weight: 500;
  padding-bottom: 10px;
}

.errors-form-input-label {
  color: #f04747;
  font-family: "Helvetica Neue";
  font-size: 9px;
  font-weight: 500;
  padding-bottom: 10px;
}

.form-header {
  display: flex;
  color: white;
  font-family: "Helvetica Neue";
  font-size: 20px;
  font-weight: 300;
  justify-content: center;
  padding-bottom: 15px;
}

.email-container {
  padding: 0 0 15px 0;
}

.password-container {
  padding: 0 0 15px 0;
}

.error-form-input {
  outline-width: 0;
  border-color: #f04747;
  color: white;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  border-width: 1px;
  height: 32px;
  box-sizing: border-box;
  width: 100%;
  outline: none;
  padding: 10px;
}

.error-form-input:focus {
  border-color: #f04747;
}

.login-error {
  color: #f04747;
  font-family: "Helvetica Neue";
  font-size: 10px;
  font-style: italic;
  padding-bottom: 5px;
  padding-left: 5px;
}

.input-label-and-errors {
  display: flex;
  padding-bottom: 10px;
  box-sizing: border-box;
}

.create-join-form {
  box-sizing: border-box;
  min-height: 27rem;
  max-height: 27rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 28px 40px;
}

.create-join-form-footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.create-join-form-input-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.create-join-input-label-container {
  display: flex;
}

.guild-icon-upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 160px;
  width: 200px;
}

.guild-icon-upload-container:hover > * {
  filter: brightness(80%);
}

.guild-icon-upload {
  height: 128px;
  width: 128px;
  border: 5px solid #ebebeb;
  border-radius: 128px;
  background: #7289da;
  &:focus {
    outline: none;
  }
}

.create-join-form-headers {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.create-join-form-main-header {
  font-weight: 600;
  font-family: Whitney, Helvetica Neue, Helvetica;
}

.create-join-form-sub-header {
  text-align: center;
  color: #99aab5;
}

.create-guild-input-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 160px;
  width: 200px;
}

.guild-icon-size-instructions {
  font-size: 9px;
}

.guild-icon-size-instructions:hover {
  cursor: default;
}

.create-guild-name-input {
  border-top: none;
  border-right: none;
  border-left: none;
  color: #2f3036;
  font-size: 1rem;
  &:focus {
    outline: none;
  }
}

.create-guild-input-label {
  color: #87909c;
  font-size: 10px;
  font-weight: 600;
  padding-right: 10px;
}

.create-guild-community-guidelines {
  color: #99aab5;
  font-size: 0.7rem;
}

.join-guild-input-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 160px;
  width: 100%;
}

.join-guild-input-container > * {
  zoom: 110%;
}

.create-channel-form {
  background-color: #36393f;
  border-radius: 4px;
  color: white;
  padding: 0 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

.channel-form-buttons-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.channel-form-buttons-container > button {
  border: none;
  height: 2.5rem;
  outline: none;
  width: 11rem;
}

.validation-error-text {
  color: red;
  font-style: italic;
  font-size: 0.5rem;
}

.hide-ugly-input-button {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.ugly-file-input {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

@media (min-width: 320px) and (max-width: 480px) {
  .create-join-form-input-container {
    width: 80%;
  }
}
