.session-page {
  height: 100vh;
  width: 100vw;
  background: image-url("discord_background.jpeg");
  display: flex;
  align-items: center;
}

.form-link {
  color: #7289DA;
  font-size: 11px;
  font-family: 'Helvetica Neue';
  padding: 5px 0px;
  display: inline;
}

.form-link-container {
  display: inline;
  padding: 5px 0 10px 0;
}

.form-input {
  color: white;
  background-color: rgba(0,0,0,0.1);
  border-color: rgba(0,0,0,0.3);
  border-radius: 3px;
  border-width: 1px;
  height: 32px;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  outline: none;
}

.form-input:focus {
  outline: none;
}

.form-input:hover {
  border-color: #101010;
  cursor: text;
}

.form-input:focus {
  border-color: #7289DA;
}

.form-input-label {
  color: #8E9197;
  font-family: 'Helvetica Neue';
  font-size: 9px;
  font-weight: 500;
  padding-bottom: 10px;
}

.errors-form-input-label {
  color: #F04747;
  font-family: 'Helvetica Neue';
  font-size: 9px;
  font-weight: 500;
  padding-bottom: 10px;
}

.form-header {
  display: flex;
  color: white;
  font-family: 'Helvetica Neue';
  font-size: 20px;
  font-weight: 300;
  justify-content: center;
  padding-bottom: 15px;
}

.email-container {
  padding: 0 0 15px 0;
}

.password-container {
  padding: 0 0 15px 0;
}

.error-form-input {
  outline-width: 0;
  border-color: #F04747;
  color: white;
  background-color: rgba(0,0,0,0.1);
  border-radius: 3px;
  border-width: 1px;
  height: 32px;
  box-sizing: border-box;
  width: 100%;
  outline: none;
  padding: 10px;
}

.error-form-input:focus {
  border-color: #F04747;
}

.login-error {
  color: #F04747;
  font-family: 'Helvetica Neue';
  font-size: 10px;
  padding-left: 5px;
  font-style: italic;
}

.input-label-and-errors {
  display: flex;
  padding-bottom: 10px;
  box-sizing: border-box;
}