.register-container,
.register-form {
  display: flex;
  flex-direction: column;
}

.register-background-container {
  display: flex;
}

.register-container {
  background: #36393f;
  margin: auto;
  border-radius: 5px;
  padding: 30px;
  width: 320px;
  zoom: 120%;
}

.register-form-button {
  border-radius: 3px;
  border: none;
  color: white;
  display: flex;
  justify-content: center;
  background: #7289da;
  padding: 10px;
}

.register-form-button:hover {
  cursor: pointer;
}

.register-form-button:focus {
  outline: none;
}

.register-link-helper {
  color: #6a6d74;
  display: inline;
  font-family: "Helvetica Neue";
  font-size: 11px;
  padding: 0 3px 0 0;
}

.username-input-container {
  padding: 0px 0 10px 0;
}

.password-input-container {
  padding: 0 0 15px 0;
}
