// Place all the styles related to the api/dm_memberships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.click-on-hover {
  &:hover {
    cursor: pointer;
  }
}
