.channel-messages-index {
  align-items: center;
  background: #37383f;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-height: 100%;
  min-height: 100vh;
  min-width: 20rem;
}

.channel-messages-index-header {
  align-items: center;
  border-bottom: 1px solid #232329;
  display: flex;
  justify-content: space-between;
  min-height: 3rem;
  max-height: 3rem;
  width: 100%;
}

.channel-messages-index-header-left-right {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 1rem;
  width: 100%;
}

.channel-messages-index-header-left {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.channel-messages-index-header-left-hashtag {
  color: #73767d;
  font-size: 2rem;
  font-style: italic;
  font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
  margin-right: 1rem;
  &:hover {
    cursor: default;
  }
}

.channel-messages-index-header-left-channel-name {
  color: white;
  font-size: 0.8rem;
  font-weight: 600;
  &:hover {
    cursor: default;
  }
}

.channel-messages-index-main {
  border-top: 1px solid #2c2c32;
  max-width: 100%;
  overflow-x: wrap;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
}

.channel-messages-index-footer {
  align-items: center;
  display: flex;
  height: 3rem;
  justify-content: center;
  width: 100%;
}

.message-body {
  color: #dcddde;
  width: 100%;
  margin: 0 0.5rem;
}

.channel-message-input-form {
  align-items: flex-start;
  width: 100%;
  display: flex;
  justify-content: center;
}

.channel-message-input {
  background-color: #40444b;
  border: none;
  border-color: #40444b;
  border-radius: 0.5rem;
  bottom: 1.5rem;
  color: white;
  font-size: 0.9rem;
  min-height: 2.5rem;
  max-height: 2.5rem;
  padding: 0 1rem;
  position: relative;
  width: 94.5%;
  &:focus {
    outline: none;
  }
}

.message-width-container {
  display: flex;
  margin: 1.5rem 1rem;
}

.message-container {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}

.message-header {
  align-items: center;
  display: flex;
  height: 100%;
  width: 100%;
}

.message-data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.message-profile-picture {
  background-color: #73767d;
  height: 2.5rem;
  min-height: 2.5rem;
  max-height: 2.5rem;
  width: 2.5rem;
  min-width: 2.5rem;
  max-width: 2.5rem;
  border-radius: 2.5rem;
}

.message-author {
  color: #ececed;
  height: 100%;
  margin: 0 0.5rem;
}

.recent-date {
  color: #73767d;
  font-size: 9px;
  height: 100%;
}
