.channel-messages-index {
  align-items: center;
  background: #37383f;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-height: 100%;
  min-height: 100vh;
  min-width: 20rem;
}

.no-friends {
  background-image: url("https://diskord-pro.s3.amazonaws.com/nofriends.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.channel-messages-index-header {
  align-items: center;
  border-bottom: 1px solid #232329;
  display: flex;
  justify-content: space-between;
  min-height: 3rem;
  max-height: 3rem;
  width: 100%;
}

.channel-messages-index-header-left-right {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 1rem;
  width: 100%;
}

.channel-messages-index-header-left {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.channel-messages-index-header-left-hashtag {
  color: #73767d;
  font-size: 2rem;
  font-style: italic;
  font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
  margin-right: 1rem;
  &:hover {
    cursor: default;
  }
}

.channel-messages-index-header-left-channel-name {
  color: white;
  font-size: 0.9rem;
  font-weight: 600;
  &:hover {
    cursor: default;
  }
}

.channel-messages-index-main {
  border-top: 1px solid #2c2c32;
  max-width: 100%;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  padding-bottom: 1rem;
}

.welcome-to-channel-container {
  align-items: center;
  border-bottom: 1px solid #3b3e43;
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
}

.channel-messages-index-footer {
  align-items: center;
  display: flex;
  height: 3rem;
  justify-content: center;
  width: 100%;
}

.message-body {
  color: #dcddde;
  font-size: 1rem;
  font-weight: 300;
  // width: 100%;
  margin: 0.5rem;
}

.channel-message-input-form {
  align-items: flex-start;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.channel-message-input {
  background-color: #40444b;
  border: none;
  border-color: #40444b;
  border-radius: 0.5rem;
  bottom: 1.5rem;
  color: white;
  font-size: 0.9rem;
  min-height: 2.5rem;
  max-height: 2.5rem;
  padding: 0 3.3rem;
  position: relative;
  width: 100%;
  margin: 0 1rem;
  &:focus {
    outline: none;
  }
}

.message-index-width {
  max-width: 500rem;
  min-width: 100%;

  &:hover {
    background-color: #2f3036;
  }
}

.embedded-message-link {
  color: blue;
  font-weight: 400;
  mix-blend-mode: difference;
}

.message-width-container {
  display: flex;
  min-height: 3rem;
  margin: 1rem;
  width: 100%;
}

.message-container {
  display: flex;
  justify-content: space-evenly;
}

.message-header {
  align-items: center;
  display: flex;
  height: 100%;
  width: 100%;
  margin-top: 5px;
}

.message-data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.message-profile-picture {
  background-color: #73767d;
  border-radius: 2.5rem;
  height: 2.5rem;
  margin-top: 0.5rem;
  min-height: 2.5rem;
  max-height: 2.5rem;
  min-width: 2.5rem;
  max-width: 2.5rem;
  width: 2.5rem;
}

.message-author {
  color: #ececed;
  height: 100%;
  margin: 0 0.5rem;
}

.recent-date {
  color: #73767d;
  font-size: 9px;
  height: 100%;
}

.welcome-to-channel,
.welcome-to-dm-channel {
  color: #b9bbbe;
  padding: 1rem;
  padding-left: 1rem;
  position: relative;
  margin-left: 0.5rem;
}

.welcome-to-channel-img-left,
.welcome-to-channel-img-right {
  max-height: 5rem;
  display: none;
}

@media (min-width: 1030px) {
  .welcome-to-channel-img-left,
  .welcome-to-channel-img-right {
    display: block;
  }

  .welcome-to-channel {
    color: #b9bbbe;
    padding-top: 3rem;
    padding-left: 1rem;
    position: absolute;
    margin: 0 0.5rem;
  }
}

.message-image {
  margin-left: 1rem;
  max-width: 15rem;
  width: 100%;
  height: auto;
}

.message-image-upload {
  background-color: #b9bbbe;
  border-radius: 10em;
  bottom: 35px;
  color: black;
  height: 1.2rem;
  left: 31px;
  position: absolute;
  text-align: center;
  width: 1.2rem;
  z-index: 1;
  &:hover {
    background-color: white;
    filter: brightness(80%);
    cursor: pointer;
  }
}

.message-image-upload [type="file"] {
  cursor: inherit;
  display: block;
  filter: alpha(opacity=0);
  min-height: 100%;
  min-width: 100%;
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
}

::-webkit-scrollbar {
  width: 1em;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
