.channel-messages-index {
  align-items: center;
  background: #37383f;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-height: 100%;
  min-height: 100vh;
}

.channel-messages-index-header {
  align-items: center;
  border-bottom: 1px solid #232329;
  display: flex;
  justify-content: space-between;
  min-height: 3rem;
  max-height: 3rem;
  width: 100%;
}

.channel-messages-index-header-left-right {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 1rem;
  width: 100%;
}

.channel-messages-index-main {
  border-top: 1px solid #2c2c32;
  max-width: 100%;
  overflow: scroll;
  width: 100%;
  height: 100%;
}

.channel-messages-index-footer {
  align-items: center;
  border-top: 1px solid #2c2c32;
  display: flex;
  height: 3rem;
  justify-content: center;
  width: 100%;
}

.message-body {
  width: 100%;
  margin: 0 0.5rem;
}

.channel-message-input-form {
  align-items: flex-start;
  width: 100%;
  display: flex;
  justify-content: center;
}

.channel-message-input {
  border: none;
  border-radius: 0.5rem;
  width: 95%;
  position: relative;
  bottom: 1.5rem;
  height: 2rem;
  background-color: #40444b;
  border-color: #40444b;
  &:focus {
    outline: none;
  }
}

.message-width-container {
  display: flex;
  width: 100%;
  margin: 1.5rem 1rem;
}

.message-container {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}

.message-header {
  align-items: center;
  display: flex;
  height: 100%;
  width: 100%;
}

.message-data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.message-profile-picture {
  background-color: blue;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 2rem;
}

.message-author {
  height: 100%;
  margin: 0 0.5rem;
}

.recent-date {
  font-size: 9px;
  height: 100%;
}
