.channel-messages-index {
  align-items: center;
  background: #37383f;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-height: 100vh;
}

.channel-messages-index-header {
  align-items: center;
  border-bottom: 1px solid #232329;
  display: flex;
  justify-content: space-between;
  height: 3rem;
  width: 100%;
}

.channel-messages-index-main {
  height: 100%;
  border-top: 1px solid #2c2c32;
  width: 100%;
  overflow: scroll;
}

.channel-messages-index-footer {
  align-items: center;
  border-top: 1px solid #2c2c32;
  display: flex;
  height: 3rem;
  justify-content: center;
  width: 100%;
}

.message-body {
  width: 90%;
  background-color: #40444b;
  &:focus {
    outline: none;
  }
}

.message-width-container {
  display: flex;
  width: 100%;
  margin: 1.5rem 1rem;
}

.message-container {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}

.message-header {
  display: flex;
  justify-content: space-between;
}

.message-data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.message-profile-picture {
  background-color: blue;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 2rem;
}
