.bold-white {
  color: white;
  display: inline;
  font-weight: 600;
}

.welcome-to-dm-channel {
  color: #b9bbbe;
  min-width: 23rem;
  padding-top: 3rem;
  padding-left: 1rem;
  margin-left: 0.5rem;
}
