.guild-channels-index {
  align-items: center;
  background: #2f3136;
  color: #8e9297;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 15rem;
  min-width: 15rem;
  min-height: 100%;
  width: 15rem;
}

.channels-list {
  align-items: flex-start;
  border-top: 1px solid #2c2c32;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: scroll;
}

.text-channel-type {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  font-family: Whitney, Helvetica Neue, Helvetica;
  max-height: 35px;
  min-height: 35px;
  justify-content: space-between;
  padding: 1rem 0 0 1rem;
  width: 14rem;
}

.text-channel-type:hover > .text-channel-type-text {
  color: white;
}

.text-channel-type-text {
  font-size: 0.7rem;
  font-weight: 500;
  &:hover {
    cursor: default;
  }
}

.create-channel-button-text {
  font-size: 1.4rem;
  font-weight: 400;
  padding-bottom: 0.5rem;
  &:hover {
    color: #fbfbfb;
  }
}

.text-channel-type > div {
  height: 0.6rem;
}

.create-channel-modal {
  &:hover {
    cursor: pointer;
  }
}

.channels-list > a {
  color: #8e9297;
  white-space: nowrap;
  text-overflow: ellipsis;
  &:hover {
    color: white;
  }
}

.create-channel-container {
  align-items: center;
  display: flex;
  min-height: 3rem;
  max-height: 3rem;
  width: 100%;
  border-bottom: 1px solid #232329;
  overflow: hidden;
  &:hover {
    background-color: #34373c;
  }
}

.channel-index-title {
  color: white;
  margin: 0 1rem;
}

.channel-index-link {
  align-items: center;
  border-radius: 0.25rem;
  display: flex;
  font-size: 0.9rem;
  height: 2rem;
  width: 90%;
  margin: 0 auto;
  margin-top: 3px;
  &:hover {
    background-color: #393b43;
  }
}

.channel-index-link-active {
  background-color: #393b43;
}

.channel-name {
  color: white;
}

.channels-index-hashtag {
  margin: 0.5rem;
  min-height: 1rem;
  max-height: 1rem;
  min-width: 1rem;
  max-width: 1rem;
}

.channels-index-footer {
  align-items: center;
  background-color: #292b2f;
  display: flex;
  max-height: 3rem;
  min-height: 3rem;
  justify-content: space-between;
  width: 100%;
}

.channels-index-footer-name-id-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}

.channels-index-footer-member-info {
  align-items: center;
  display: flex;
  width: 100%;
}

.channels-index-footer-member-username {
  font-size: 0.8rem;
  max-width: 8rem;
  overflow: hidden;
  text-overflow: ellipsis;
  &:hover {
    cursor: default;
  }
}

.channels-index-footer-member-id {
  color: #b9babe;
  font-size: 0.7rem;
  &:hover {
    cursor: default;
  }
}

.logout-button {
  transition: 1s;
  color: #8e9297;
  margin-right: 10px;
}

.logout-button:hover {
  transition: 0.5s;
  cursor: pointer;
  color: white;
}

.channels-index-footer-member-info
  > .guild-members-index-member-profile-picture:hover {
  filter: brightness(80%);
}

.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  height: 1rem;
}
