.guild-channels-index {
  align-items: center;
  background: #2f3136;
  color: #8e9297;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 16rem;
  max-width: 16rem;
  min-width: 16rem;
  min-height: 100%;
}

.channels-list {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  border-top: 1px solid #2c2c32;
}

.text-channel-type {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  color: white;
  font-family: Whitney, Helvetica Neue, Helvetica;
  font-weight: 400;
  font-size: 12px;
  width: 100%;
  height: 1rem;
}
.text-channel-type > div {
  height: 0.6rem;
}

.create-channel-modal {
  &:hover {
    cursor: pointer;
  }
}

.channels-list > a {
  color: #8e9297;
  &:hover {
    color: white;
  }
}

.create-channel-container {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 3rem;
  width: 100%;
  border-bottom: 1px solid #232329;
  overflow: hidden;
}

.channel-index-title {
  color: #8e9297;
}

.channels-index-footer {
  align-items: center;
  background-color: #292b2f;
  display: flex;
  height: 3rem;
  justify-content: center;
  width: 100%;
}

.logout-button {
  color: #8e9297;
  padding-bottom: 10px;
}

.logout-button:hover {
  cursor: pointer;
  color: white;
}
