.guild-channels-index {
  align-items: center;
  background: #2f3136;
  color: #8e9297;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 15rem;
  min-width: 15rem;
  min-height: 100%;
  width: 15rem;
}

.channels-list {
  align-items: flex-start;
  border-top: 1px solid #2c2c32;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.text-channel-type {
  align-items: center;
  display: flex;
  font-family: Whitney, Helvetica Neue, Helvetica;
  height: 1rem;
  justify-content: space-between;
  padding: 1rem 1rem 0 1rem;
  width: 14rem;
}

.text-channel-type-text {
  font-size: 0.7rem;
  font-weight: 500;
  &:hover {
    color: #fbfbfb;
    cursor: default;
  }
}

.create-channel-button-text {
  font-size: 1.4rem;
  font-weight: 400;
  &:hover {
    color: #fbfbfb;
  }
}

.text-channel-type > div {
  height: 0.6rem;
}

.create-channel-modal {
  &:hover {
    cursor: pointer;
  }
}

.channels-list > a {
  color: #8e9297;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 90%;
  &:hover {
    color: white;
  }
}

.create-channel-container {
  align-items: center;
  display: flex;
  min-height: 3rem;
  max-height: 3rem;
  width: 100%;
  border-bottom: 1px solid #232329;
  overflow: hidden;
}

.channel-index-title {
  color: white;
  margin: 0 1rem;
}

.channels-index-footer {
  align-items: center;
  background-color: #292b2f;
  display: flex;
  height: 3rem;
  justify-content: center;
  width: 100%;
}

.logout-button {
  color: #8e9297;
}

.logout-button:hover {
  cursor: pointer;
  color: white;
}
