.guild-emblem {
  max-height: 3.3rem;
  background-color: #212124;
  border-radius: 1rem;
  z-index: 2;
  &:hover {
    background-color: #212124;
    border-radius: 1rem;
  }
  &:active {
    background-color: #212124;
    border-radius: 1rem;
  }
  &:focus {
    background-color: #212124;
    border-radius: 1rem;
  }
}