.guild_memberships_index {
  background: #202125;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60px;
  padding-top: 10px;
}

.guild-membership {
  background-color: #37383f;
  // background: image-url("logo.png");
  color: white;
  border-radius: 40px;
  height: 40px;
  margin: 10px;
  width: 40px;
  box-sizing: border-box;
  text-align: center;
}
