.guild_memberships_index {
  background: #202125;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 4.5rem;
  min-width: 4.5rem;
  padding-top: 10px;
  overflow-x: hidden;
  &:hover {
    overflow-y: auto;
  }
}

.open-guild-form-modal-text {
  font-size: 2rem;
  font-weight: 300;
  position: relative;
  bottom: 2px;
}

.guild-membership {
  align-items: center;
  background-color: #37383f;
  box-sizing: border-box;
  border-radius: 50%;
  box-sizing: border-box;
  color: white;
  display: flex;
  font-weight: 400;
  font-size: 9px;
  justify-content: center;
  height: 3rem;
  min-height: 3rem;
  max-height: 3rem;
  text-align: center;
  width: 3rem;
  min-width: 3rem;
  max-width: 3rem;
  margin-bottom: 0.5rem;
  transition: 0.15s;
  &:hover {
    background-color: #7189da;
    border-radius: 1rem;
    transition: 0.15s;
  }
  overflow: hidden;
}

.remove-blue-hover {
  &:hover {
    background-color: #37383f;
  }
}

.guild-index-name {
  font-size: 1rem;
  letter-spacing: 0.1rem;
}

.guild-link-active {
  background-color: #7189da;
  border-radius: 1rem;
  transition: 0.5s;
}

.hover-green-transition {
  background-color: #37383f;
  color: #43b581;
  transition: 0.15s;
}

.hover-green-transition:hover {
  background-color: #43b581;
  color: white;
  transition: 0.15s;
}

.placeholder-logo-home {
  max-height: 5rem;
  min-height: 5rem;
}

.placeholder-logo-messages {
  max-height: 4.6rem;
  position: relative;
  bottom: 16px;
  right: 17px;
}

.small-logo-placeholder {
  max-height: 3rem;
  position: relative;
  bottom: 10px;
  right: 9.5px;
}
