.guild_memberships_index {
  background: #202125;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 120px;
  padding-top: 10px;
}

.guild-membership {
  align-items: center;
  background-color: #37383f;
  box-sizing: border-box;
  border-radius: 50%;
  box-sizing: border-box;
  color: white;
  display: flex;
  font-weight: 400;
  font-size: 9px;
  justify-content: center;
  // background: image-url("logo.png");
  height: 50px;
  min-height: 50px;
  max-height: 50px;
  text-align: center;
  width: 50px;
  min-width: 50px;
  max-width: 50px;
  margin-bottom: 10px;
  &:hover {
    border-radius: 12px;
  }
  overflow: hidden;
}
