.guild-channels-index {
  align-items: center;
  background: #2f3136;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 260px;
  min-height: 100%;
  padding: 20px 5px;
}

.guild-channels-index > a {
  color: #8e9297;
}

.guild-channels-index > a:hover {
  color: white;
}

.logout-button:hover {
  cursor: pointer;
}

.channel-index-link {
  text-align: center;
}
