.guild_memberships_index {
  background: #202125;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60px;
  padding-top: 10px;
}

.guild-membership {
  align-items: center;
  background-color: #37383f;
  border-radius: 40px;
  box-sizing: border-box;
  color: white;
  display: flex;
  font-weight: 400;
  font-size: 30px;
  justify-content: center;
  // background: image-url("logo.png");
  height: 40px;
  margin: 10px;
  text-align: center;
  width: 40px;
}
