.modal-content-container {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.85);
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.modal-content {
  align-items: center;
  border-radius: 6px;
  justify-content: center;
  height: 425px;
  width: 540px;
  background-color: white;
  opacity: none;
}

.guild-membership-form {
  align-items: center;
  border-radius: 3px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding: 30px 0px 50px 0px;
}

.create-join-guild-buttons {
  display: flex;
  height: 245px;
  justify-content: space-between;
  width: 80%;
  min-width: 385px;
}

.create-guild-form,
.join-guild-form {
  align-items: center;
  border: 1px solid #e8e8e8;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 185px;
  text-align: center;
  width: 185px;
  padding: 30px 0 10px 0;
  box-sizing: border-box;
}

.form-circle {
  align-items: center;
  display: flex;
  justify-content: center;
  border: 1px solid #e8e8e8;
  background: white;
  left: 47.8%;
  top: 49.5%;
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 40px;
  text-align: center;
  z-index: 0;
}

.create-guild-divider {
  align-items: center;
  display: flex;
  justify-content: center;
  z-index: 10;
}

.create-join-divider-color {
  align-items: center;
  background: white;
  display: flex;
  height: 100%;
  justify-content: center;
  z-index: 10;
}

.create-guild-icon {
  max-height: 70px;
}

.guild-member-form-header {
  font-weight: 600;
}

.create-guild-instructions {
  line-height: 18px;
  color: #99aab5;
  font-size: 12px;
  max-width: 150px;
  height: 40px;
}

.form-button {
  padding: 10px 40px;
  border-radius: 3px;
  font-size: 13px;
}

.form-button:hover {
  cursor: pointer;
}

.form-button:focus {
  outline: none;
}
