.splash-image-container {
  position: relative;
  align-items: flex-end;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-height: 1400px;
  height: 520px;
  width: 100%;
}

.splash-margin-container {
  margin: 0 auto;
}

.flask {
  position: relative;
  left: 260px;
  height: 170px;
}

.android, .iphone {
  position: relative;
  max-height: 250px;
  max-width: 135px;
  z-index: 2;
}

.android {
  left: 250px;
}

.iphone {
  left: 260px;
}

@keyframes bombfloat {
  0% {
    transform: translateY(-4px);
  }
  100% {
    transform: translateY(4px);
  }
}

@keyframes shortfloat {
  0% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(3px);
  }
}

.bomb {
  animation-name: bombfloat;
  animation-duration: 1.5s; 
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out; 

  position: relative;
  max-height: 70px;
  bottom: 260px;
  right: 83px;
  z-index: 0;
}

.coin-left, .coin-top-middle, .game-cartridge {
  animation-name: shortfloat;
  animation-duration: 1.45s; 
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

.coin-left, .coin-top-middle { 
  position: relative;
  max-height: 70px;
  max-width: 65px;
  z-index: 2;
}

.coin-left {
  bottom: 230px;
  right: 115px;
}

.coin-top-middle {
  bottom: 425px;
  left: 220px;
}

.game-controller {
  position: relative;
  max-height: 105px;
  max-width: 150px;
  left: 270px;
  z-index: 2;
}

.monitor {
  position: absolute;
  height: auto;
  max-height: 470px;
  max-width: 579px;
  z-index: 1;
}

.laptop {
  position: relative;
  z-index: 3;
}

.game-cartridge {
  position: relative;
  bottom: 385px;
  left: 350px;
}

.headphones {
  position: relative;
  right: 300px;
  bottom: 170px;
  max-height: 200px;
  z-index: 4;
}

.shield {
  position: relative;
  right: 280px;
}

.filled-dot-left-of-android, .filled-dot-directly-above-iphone, .filled-dot-bottom-right, .filled-dot-top-right, .filled-dot-above-monitor-and-laptop {
  position: absolute;
}

.triangle-left, .triangle-top-middle {
  position: absolute;
}

.android, .iphone, .game-controller, .monitor, .laptop, .headphones, .shield, .game-cartridge {
  zoom: 80%;
}