.splash-background {
  background: #25252b;
  min-height: 100%;
  min-width: 100%;
  overflow-x: hidden;
}

.splash-container {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 100rem;
  min-height: 100vh;
  padding: 0 30px;
}

.splash-nav {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-size: 1rem;
  height: 3rem;
  justify-content: space-between;
  margin: 0 auto;
  padding: 8px;
  position: relative;
  width: 100%;
}

.splash-nav-item {
  color: #b1b1b3;
  font-family: Whitney, Helvetica Neue, Helvetica;
  &:hover {
    cursor: pointer;
    color: white;
  }
}

.network-buttons {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100px;
  color: #b1b1b3;
}

.network-buttons > a > img {
  height: 1.1rem;
  filter: brightness(80%);
  &:hover {
    cursor: pointer;
    filter: none;
  }
}

.diskord-logo {
  height: 16px;
}

.splash-nav-button {
  border-radius: 1.8rem;
  border: 2px solid white;
  color: white;
  filter: brightness(80%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  min-width: 4.1rem;
  max-width: 4.1rem;
  height: 2.1rem;
  font-size: 0.8rem;
  padding: 0.5rem;
  box-sizing: border-box;
  &:hover {
    filter: none;
  }
}

.left-splash-nav {
  display: flex;
}

.right-splash-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 180px;
  min-width: 180px;
  height: 46px;
}

.splash-main-github-demo-buttons {
  display: flex;
  justify-content: space-between;
  max-width: 32.4rem;
  margin: 0 auto;
  width: 100%;
}

.splash-main-github-demo-buttons > a {
  border-radius: 3px;
  border: none;
  display: flex;
  font-size: 0.9rem;
  justify-content: center;
  padding: 0.9rem;
  width: 13rem;
}

.splash-main-left-button {
  background: white;
  color: #24242b;
}

.splash-main-right-button {
  background: #7289da;
  color: white;
}

.splash-main-right-button:hover {
  cursor: pointer;
}

.splash-main {
  text-align: center;
  position: relative;
  height: 16rem;
}

.splash-header {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 790px;
  max-height: 15rem;
  margin: 0 auto;
  min-height: 15rem;
  padding: 72px 49px 0 49px;
}

.splash-header-main-container {
  align-items: center;
  display: flex;
  justify-content: center;
}

.splash-header-main {
  font-size: 2rem;
  height: 100%;
  font-weight: 600;
}

.splash-header-sub {
  font-size: 0.9rem;
  color: #a8a9ab;
  line-height: 1.8rem;
  max-width: 43rem;
  margin: 0rem auto 0.5rem auto;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
  font-size: 11px;
  font-family: "Helvetica Neue";
  color: #f6f6f6;
}

.footer-links-category {
  padding-bottom: 20px;
}

.splash-footer-links-container {
  display: flex;
  flex-direction: column;
}

.splash-footer {
  align-items: center;
  display: flex;
  justify-content: space-between;
  &:hover {
    cursor: default;
  }
}

.footer-main {
  margin: 0 auto 3rem auto;
  max-width: 100rem;
  min-width: 25rem;
  width: 100%;
}

.left-splash-footer {
  font-family: "Helvetica Neue";
}

.splash-footer-header-main {
  color: #ffffff;
  font-size: 1.5rem;
}

.splash-footer-header-sub {
  color: #a8a8ab;
  font-size: 0.8rem;
  padding-top: 0.2rem;
}

.splash-footer-button {
  border-radius: 3px;
  border: none;
  display: flex;
  justify-content: center;
  padding: 10px;
  width: 100px;
  height: auto;
  font-size: 11px;
  font-family: "Helvetica Neue";
  background: #7289da;
  color: white;
}

@media (min-width: 320px) and (max-width: 480px) {
  .splash-header {
    min-height: 350px;
  }

  .splash-footer {
    padding: 0 1rem;
    width: 20rem;
  }
}
