.landing-hero {
  padding: px 50px;
}

.splash-background {
  background: #25252B;
  min-height: 98vh;
  min-width: 90vw;
  overflow-x: hidden;
}

.splash-container {
  color: white;
  display: flex;
  font-family: 'Helvetica Neue';
  flex-direction: column;
  justify-content: space-between;
  max-width: 1350px;
  min-height: 98vh;
  margin: 0 auto;
  padding: 25px 0px;
}

.splash-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 11px;
}

.splash-nav-item {
  color: #CECCCE;
  padding: 0 25px;
}

.network-buttons {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100px;
}

.network-buttons > img {
  height: 16px;
}

.diskord-logo {
  height: 16px;
}

.splash-nav-button {
  border-radius: 20px;
  border: 2px solid #BDBDBE;
  color: #BDBDBE;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  min-width: 60px;
  height: 32px;
  font-size: 10px;
  padding: 10px;
  box-sizing: border-box;
}

.splash-nav-button-text {
  min-height: 20px;
  position: relative;
  top: -5px;
}

.left-splash-nav {
  display: flex;
}

.right-splash-nav {
  display: flex;
  justify-content: space-between;
  max-width: 180px;
  min-width: 180px;
}

.splash-main-github-demo-buttons {
  display: flex;
  justify-content: space-evenly;
  max-width: 400px;
  margin: 0 auto;
}

.splash-main-github-demo-buttons > a {
  border-radius: 3px;
  border: none;
  display: flex;
  justify-content: center;
  padding: 10px;
  width: 150px;
  font-size: 11px;
}

.splash-main-left-button {
  background: white;
  color: #24242B;
}

.splash-main-right-button {
  background: #7289DA;
  color: white;
}

.splash-main {
  text-align: center;
  zoom: 115%;
}

.splash-header {
  display: flex;
  flex-direction: column;
  max-width: 525px;
  margin: 0 auto;
}

.splash-header-main {
  font-size: 25px;
  font-weight: 600;
  padding: 20px 0;
}

.splash-header-sub {
  font-size: 11px;
  padding: 20px 0;
  color: #A8A9AB;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
  font-size: 11px;
  font-family: 'Helvetica Neue';
  color: #F6F6F6;
}

.footer-links-category {
  padding-bottom: 20px;
}

.splash-footer-links-container {
  display: flex;
  flex-direction: column;
}

.splash-footer {
  display: flex;
  justify-content: space-between;
}

.splash-footer-button {
  border-radius: 3px;
  border: none;
  display: flex;
  justify-content: center;
  padding: 10px;
  width: 100px;
  height: auto;
  font-size: 11px;
  font-family: 'Helvetica Neue';
  background: #7289DA;
  color: white;
}

.left-splash-footer {
  font-family: 'Helvetica Neue';
}

.splash-footer-header-main {
  color: #FFFFFF;
}

.splash-footer-header-sub {
  color: #A8A8AB;
  font-size: 11px;
  padding-top: 5px;
}

.footer-main {
  padding: 30px 160px;
}

.dot, .triangle, .x {
  position: absolute;
}