.splash-image-container {
  position: relative;
  align-items: flex-end;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-height: 1400px;
  height: 638px;
  width: 100%;
  min-width: 82rem;
  max-width: 82rem;
  overflow: hidden;
}

.splash-margin-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding-bottom: 8rem;
  position: relative;
  width: 100%;
}

.flask {
  position: relative;
  left: 19rem;
  height: 12rem;
}

.android,
.iphone {
  position: relative;
  max-height: 250px;
  max-width: 135px;
  z-index: 2;
}

.android {
  left: 15rem;
}

.iphone {
  left: 16.4rem;
}

@keyframes bombfloat {
  0% {
    transform: translateY(-4px);
  }
  100% {
    transform: translateY(4px);
  }
}

@keyframes shortfloat {
  0% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(3px);
  }
}

.bomb {
  animation-name: bombfloat;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;

  position: relative;
  max-height: 5rem;
  bottom: 21rem;
  right: 6.5rem;
  z-index: 0;
}

.coin-left,
.coin-top-middle,
.game-cartridge {
  animation-name: shortfloat;
  animation-duration: 1.45s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

.coin-left,
.coin-top-middle {
  position: relative;
  max-height: 5rem;
  max-width: 4.5rem;
  z-index: 2;
}

.coin-left {
  bottom: 19rem;
  right: 9rem;
}

.coin-top-middle {
  bottom: 33.7rem;
  left: 18.5rem;
}

.game-controller {
  position: relative;
  max-height: 7rem;
  max-width: 10rem;
  left: 17rem;
  z-index: 2;
}

.monitor {
  position: absolute;
  height: auto;
  max-height: 30rem;
  max-width: 36rem;
  z-index: 1;
}

.laptop {
  position: relative;
  z-index: 3;
}

.game-cartridge {
  position: relative;
  bottom: 385px;
  left: 350px;
}

.headphones {
  position: relative;
  right: 300px;
  bottom: 170px;
  max-height: 200px;
  z-index: 4;
}

.shield {
  position: relative;
  right: 280px;
}

.question-block {
  position: relative;
}

.filled-dot-left-of-android,
.filled-dot-directly-above-iphone,
.filled-dot-bottom-right,
.filled-dot-top-right,
.filled-dot-above-monitor-and-laptop {
  position: absolute;
  filter: brightness(50%);
}

.filled-dot-left-of-android {
  right: 73rem;
  bottom: 11rem;
}

.triangle-left,
.triangle-top-middle {
  position: absolute;
  filter: brightness(50%);
}

.triangle-left {
  bottom: 19rem;
  right: 74.6rem;
}

.dot,
.triangle,
.x {
  position: absolute;
}

@media (min-width: 320px) and (max-width: 480px) {
  .monitor,
  .game-controller,
  .coin-top-middle,
  .coin-left,
  .game-cartridge,
  .headphones,
  .iphone,
  .flask,
  .x,
  .triangle-left,
  .triangle-top-middle {
    display: none;
  }
  .laptop {
    left: 15rem;
  }

  .android {
    position: relative;
    left: 22rem;
  }
  .splash-image-container {
    height: 100%;
  }

  .footer-main {
    padding: 0;
    min-width: 13rem;
  }

  .splash-header {
    padding: 0;
  }

  .splash-container {
    padding: 0;
    margin: 0 auto;
  }

  .splash-footer-header-main {
    font-size: 10px;
  }

  .splash-footer-header-sub {
    font-size: 8px;
  }
}
