.splash-image-container {
  align-items: flex-end;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-height: 1400px;
  height: 638px;
  width: 100%;
}

.splash-margin-container {
  margin: 0 auto;
}

.flask {
  position: relative;
  left: 230px;
  max-height: 140px;
}

.android, .iphone {
  position: relative;
  max-height: 250px;
  max-width: 135px;
  z-index: 2;
}

.android {
  left: 190px;
}

.iphone {
  left: 200px;
}

.bomb {
  position: relative;
  max-height: 70px;
  bottom: 300px;
  right: 150px;
  z-index: 0;
}

.coin-left, .coin-top-middle {
  position: relative;
  max-height: 70px;
  max-width: 65px;
  z-index: 2;
}

.coin-left {
  bottom: 280px;
  right: 190px;
}

.coin-top-middle {
  bottom: 515px;
  left: 255px;
}

.game-controller {
  position: relative;
  max-height: 105px;
  max-width: 150px;
  left: 205px;
  z-index: 2;
}

.monitor {
  position: absolute;
  max-height: 470px;
  max-width: 579px;
  z-index: 1;
}

.laptop {
  position: relative;
  z-index: 3;
}

.game-cartridge {
  position: relative;
  bottom: 385px;
  left: 350px;
}

.headphones {
  position: relative;
  right: 313px;
  bottom: 170px;
  max-height: 200px;
  z-index: 4;
}

.shield {
  position: relative;
  right: 280px;
}

.filled-dot-left-of-android, .filled-dot-directly-above-iphone, .filled-dot-bottom-right, .filled-dot-top-right, .filled-dot-above-monitor-and-laptop {
  position: absolute;
}

.triangle-left, .triangle-top-middle {
  position: absolute;
}