.splash-image-container {
  position: relative;
  align-items: flex-end;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-height: 638px;
  height: 638px;
  width: 100%;
  min-width: 82rem;
  max-width: 82rem;
  overflow: hidden;
}

.splash-margin-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding-bottom: 8rem;
  position: relative;
  width: 100%;
}

.flask,
.android,
.iphone,
.bomb,
.coin-left,
.coin-top-middle,
.game-controller,
.laptop,
.game-cartridge,
.headphones,
.shield {
  position: relative;
}

.monitor,
.question-block {
  position: absolute;
}

.flask {
  left: 18.5rem;
  height: 12rem;
  z-index: 1;
}

.android,
.iphone {
  max-height: 250px;
  max-width: 135px;
  z-index: 3;
}

.android {
  left: 15rem;
}

.iphone {
  left: 16rem;
}

@keyframes bombfloat {
  0% {
    transform: translateY(-4px);
  }
  100% {
    transform: translateY(4px);
  }
}

@keyframes shortfloat {
  0% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(3px);
  }
}

.bomb {
  animation-name: bombfloat;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;

  max-height: 6rem;
  bottom: 21rem;
  right: 6.5rem;
  z-index: 0;
}

.coin-left,
.coin-top-middle,
.game-cartridge {
  animation-name: shortfloat;
  animation-duration: 1.45s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

.coin-left,
.coin-top-middle {
  max-height: 6rem;
  max-width: 6rem;
  z-index: 2;
}

.coin-left {
  bottom: 19rem;
  right: 9rem;
}

.coin-top-middle {
  bottom: 33rem;
  left: 17rem;
}

.game-controller {
  max-height: 7rem;
  max-width: 10rem;
  left: 17rem;
  z-index: 3;
}

.monitor {
  height: auto;
  max-height: 30rem;
  max-width: 36rem;
  z-index: 2;
}

.laptop {
  left: 1.3rem;
  z-index: 3;
}

.game-cartridge {
  bottom: 24rem;
  left: 23rem;
}

.headphones {
  right: 300px;
  bottom: 170px;
  max-height: 200px;
  z-index: 4;
}

.shield {
  position: relative;
  right: 16.5rem;
  z-index: 1;
}

.filled-dot-left-of-android,
.filled-dot-directly-above-iphone,
.filled-dot-bottom-right,
.filled-dot-top-right,
.filled-dot-above-monitor-and-laptop,
.triangle-left,
.triangle-top-middle,
.triangle-hidden-behind-top-left-monitor,
.x-above-flask,
.x-right-of-laptop,
.empty-circle-above-iphone,
.empty-circle-behind-controller,
.empty-circle-right-of-monitor,
.square-behind-monitor-stand,
.square-above-laptop-upper,
.square-above-laptop-lower {
  position: absolute;
  filter: brightness(40%);
}

.filled-dot-left-of-android {
  right: 76rem;
  bottom: 12.4rem;
}

.filled-dot-directly-above-iphone {
  bottom: 37rem;
  left: 21rem;
}

.filled-dot-above-monitor-and-laptop {
  bottom: 31rem;
  right: 27rem;
}

.filled-dot-top-right {
  top: 1rem;
  right: 5rem;
}

.filled-dot-bottom-right {
  right: 0rem;
  bottom: 8rem;
}

.triangle-left {
  bottom: 19rem;
  right: 74.6rem;
}

.triangle-top-middle {
  bottom: 34rem;
  left: 43rem;
}

.empty-circle-above-iphone {
  bottom: 33rem;
  left: 18.7rem;
}

.empty-circle-behind-controller {
  bottom: 4.9rem;
  left: 29rem;
}

.empty-circle-right-of-monitor {
  right: 3rem;
  top: 20rem;
}

.question-block {
  bottom: 28rem;
  left: 26rem;
  z-index: 1;
}

.square-behind-monitor-stand {
  bottom: 5.5rem;
  left: 42.2rem;
}

.square-above-laptop-upper {
  top: 1rem;
  right: 18rem;
}

.square-above-laptop-lower {
  top: 13rem;
  right: 12rem;
}

.x-above-flask {
  left: 4.8rem;
  bottom: 30.8rem;
}

.x-right-of-laptop {
  top: 24rem;
  right: 4.7rem;
}

.triangle-hidden-behind-top-left-monitor {
  top: 10.2rem;
  left: 23rem;
  z-index: 0;
}

.images-footer-thingy {
  background-color: #212226;
  border-radius: 2rem;
  bottom: 2rem;
  width: 93%;
  height: 1rem;
  padding: 1rem;
  position: relative;
  z-index: 0;
}

@media (min-width: 320px) and (max-width: 480px) {
  .monitor,
  .game-controller,
  .coin-top-middle,
  .coin-left,
  .game-cartridge,
  .headphones,
  .iphone,
  .flask,
  .x,
  .triangle-left,
  .triangle-top-middle {
    display: none;
  }
  .laptop {
    left: 12rem;
  }

  .android {
    position: relative;
    left: 22rem;
  }
  .splash-image-container {
    height: 100%;
  }

  .footer-main {
    padding: 0;
    min-width: 13rem;
  }

  .splash-header {
    padding: 0;
  }

  .splash-container {
    padding: 0;
    margin: 0 auto;
  }

  .splash-footer-header-main {
    font-size: 10px;
  }

  .splash-footer-header-sub {
    font-size: 8px;
  }
}
