.landing-hero {
  padding: px 50px;
}

.splash-background {
  background: #25252b;
  min-height: 100%;
  min-width: 100%;
  overflow-x: hidden;
}

.splash-container {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1350px;
  min-height: 100vh;
  padding: 0 30px;
}

.splash-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 11px;
  height: 56px;
  padding: 8px;
}

.splash-nav-item {
  color: #b1b1b3;
  font-family: Whitney, Helvetica Neue, Helvetica;
  &:hover {
    cursor: pointer;
    color: white;
  }
}

.network-buttons {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100px;
  color: #b1b1b3;
}

.network-buttons > a > img {
  height: 16px;
  filter: brightness(50%);
  &:hover {
    cursor: pointer;
    filter: none;
  }
}

.diskord-logo {
  height: 16px;
}

.splash-nav-button {
  border-radius: 20px;
  border: 2px solid #bdbdbe;
  color: #bdbdbe;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  min-width: 60px;
  height: 32px;
  font-size: 10px;
  padding: 10px;
  box-sizing: border-box;
  &:hover {
    color: white;
    border-color: white;
  }
}

.left-splash-nav {
  display: flex;
}

.right-splash-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 180px;
  min-width: 180px;
  height: 46px;
}

.splash-main-github-demo-buttons {
  display: flex;
  justify-content: space-evenly;
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
}

.splash-main-github-demo-buttons > a {
  border-radius: 3px;
  border: none;
  display: flex;
  justify-content: center;
  padding: 15px;
  width: 150px;
  font-size: 11px;
}

.splash-main-left-button {
  background: white;
  color: #24242b;
}

.splash-main-right-button {
  background: #7289da;
  color: white;
}

.splash-main-right-button:hover {
  cursor: pointer;
}

.splash-main {
  text-align: center;
  zoom: 115%;
}

.splash-header {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 710px;
  min-height: 250px;
  height: 250px;
  margin: 0 auto;
  padding-top: 50px;
}

.splash-header-main {
  font-size: 1.8rem;
  height: 44px;
  font-weight: 600;
}

.splash-header-sub {
  font-size: 0.78rem;
  color: #a8a9ab;
  line-height: 24px;
  height: 48px;
  max-width: 630px;
  margin: 12px auto 30px auto;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
  font-size: 11px;
  font-family: "Helvetica Neue";
  color: #f6f6f6;
}

.footer-links-category {
  padding-bottom: 20px;
}

.splash-footer-links-container {
  display: flex;
  flex-direction: column;
}

.splash-footer {
  display: flex;
  justify-content: space-between;
}

.splash-footer-button {
  border-radius: 3px;
  border: none;
  display: flex;
  justify-content: center;
  padding: 10px;
  width: 100px;
  height: auto;
  font-size: 11px;
  font-family: "Helvetica Neue";
  background: #7289da;
  color: white;
}

.left-splash-footer {
  font-family: "Helvetica Neue";
}

.splash-footer-header-main {
  color: #ffffff;
}

.splash-footer-header-sub {
  color: #a8a8ab;
  font-size: 11px;
  padding-top: 5px;
}

.footer-main {
  padding: 30px 160px;
}

.dot,
.triangle,
.x {
  position: absolute;
}
