.diskord-blue {
  color: #7289da;
}

.diskord-green {
  color: #66b48d;
}

.whiteColor {
  color: white;
}

.diskord-background-blue {
  background-color: #7289da;
}

.diskord-background-green {
  background-color: #3ca374;
}
