.splash-container {
  display: flex;
  flex-direction: column;
  color: white;
  font-family: 'Helvetica Neue';
  padding: 10px;
  background: #25252B;
  min-height: 98vh;
  min-width: 90vw;
  justify-content: space-between; 
}

.splash-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 11px;
}

.left-splash-nav {
  display: flex;
}

.right-splash-nav {
  display: flex;
}

.splash-main-github-demo-buttons {
  display: flex;
  justify-content: space-evenly;
  max-width: 400px;
  margin: 0 auto;
}

.splash-main-github-demo-buttons > button {
  border-radius: 3px;
  border: none;
  display: flex;
  justify-content: center;
  padding: 10px;
  width: 150px;
}

.splash-main-left-button {
  background: white;
}

.splash-main-right-button {
  background: #7289DA;
  color: white;
}

.splash-main {
  text-align: center;
}

.splash-header {
  display: flex;
  flex-direction: column;
  max-width: 525px;
  margin: 0 auto;
}

.splash-header-main {
  font-size: 25px;
  font-weight: 600;
  padding: 20px 0;
}

.splash-header-sub {
  font-size: 11px;
  padding: 20px 0;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  font-size: 11px;
}

.footer-links-category {
  padding-bottom: 20px;
}

.splash-footer-links-container {
  display: flex;
  flex-direction: column;
}

.splash-footer {
  display: flex;
  justify-content: space-between;
}